<ion-header [translucent]="true">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Configurações</h1>     
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="config-area">
    <h1  class="config-area-titulo">Tema</h1>
    <ion-icon class="config-area-icone" name="color-palette"></ion-icon>
  </div>
  <ion-list>
    <ion-item  class="config-item" id="modo-escuro">
      <ion-toggle labelPlacement="start" alignment="center" aria-label="modo-escuro" [checked]="modoEscuro" (ionChange)="toggleModoEscuro($event)">Modo Escuro</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
