.config-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.config-area-titulo{
    font-family: var(--fonte-especial);
    font-size: 1.8rem;
    color: var(--cor-fonte);
}

.config-area-icone{
    color: var(--cor-fonte);
    padding-top: 0.7rem;
    font-size: 1.5rem;
}

.config-item{
    color: var(--cor-fonte);
}

#modo-escuro ion-icon{
    padding: 0 0.5rem 0.1rem 0;
    color: var(--cor-fonte);
}

.edit-form ion-row{
    display: flex;
    align-items: center;
}

#escolha-de-icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opcoes-foto-de-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icones{
    width: 100%;
    max-width: 100%;
    max-height: 21em;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 12px;
}

#icones::-webkit-scrollbar{
    width: 6px;
}

#icones::-webkit-scrollbar-thumb{
    background-color: var(--cor-secundaria-forte);
    border-radius: 20px;
}

#icones::-webkit-scrollbar-track{
    background-color: var(--cor-primaria);
}

.foto-de-perfil-atual{
    width: 300px;
    border-radius: 50%;
}

.icone-box{
    display: flex;
    justify-content: center;
}

#icone-box-item{
    border-radius: 50%;
}

#icone-box-item:hover{
    cursor: pointer;
}

#alteracoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    z-index: 2;
}

#alterar-icone{
    --background: var(--cor-terciaria-forte);
}

#remover-icone{
    --background: var(--cor-quaternaria-forte);
    color: black;
}

form ion-button{
    padding: 1rem 0;
    --background: var(--cor-secundaria-forte);
}