<ion-header [translucent]="true" *ngIf="logado">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start" id="botao-header">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Configurações</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="logado">
  <div class="config">
    <div class="config-area">
      <h1 class="config-area-titulo">Tema</h1>
      <ion-icon class="config-area-icone" name="color-palette"></ion-icon>
    </div>

    <ion-list>
      <ion-item class="config-item" id="modo-escuro">
        <ion-icon name="contrast"></ion-icon>
        <ion-toggle labelPlacement="start" alignment="center" aria-label="modo-escuro" [checked]="modoEscuro"
          (ionChange)="toggleModoEscuro($event)">
          Modo Escuro
        </ion-toggle>
      </ion-item>
      
      <!-- <ion-item class="config-item" id="som-feedback">
        <ion-icon name="volume-high"></ion-icon>
        <ion-toggle labelPlacement="start" alignment="center" aria-label="som-feedback" [checked]="somAtivo"
          (ionChange)="toggleSomFeedback($event)">
          Som de Feedback
        </ion-toggle>
      </ion-item> -->

    </ion-list>
  </div>

  <div id="campo-de-informacao">
    <div id="informativo">
      <ion-icon name="information-circle-outline" id="icone-de-informacao" [size]="tamanhoInformativo"></ion-icon>
      <p>Todas as alterações de "Perfil" e "Conta" apenas serão salvos ao clicar no botão "Salvar".</p>
    </div>
  </div>

  <div class="config">

    <form class="edit-form">

      <ion-row>

        <ion-col [size]="colSizeEditProfileImg">
          <div class="config-area">
            <h1 class="config-area-titulo">Perfil</h1>
            <ion-icon class="config-area-icone" name="person"></ion-icon>
          </div>
          <div class="ion-padding" id="escolha-de-icone">
            <div id="foto-de-perfil">
              <img class="foto-de-perfil-atual" [src]="perfil.icone" alt="foto de perfil" id="icone-perfil">
            </div>

            <div id="opcoes-foto-de-perfil">

              <ion-grid id="icones">
                <ion-row>
                  <ion-col class="icone-box" [size]="colSizeIcons" *ngFor="let icone of icones">
                    <img [src]="icone.src" width="100" id="icone-box-item" (click)="visualizaIcone(icone.nome)" />
                  </ion-col>
                </ion-row>
              </ion-grid>

              <div id="alteracoes">
                <ion-button id="remover-icone" (click)="removeIcone()">Remover ícone</ion-button>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col [size]="colSizeEditProfileInfo">
          <div class="config-area">
            <h1 class="config-area-titulo">Conta</h1>
            <ion-icon class="config-area-icone" name="person"></ion-icon>
          </div>
          <form #form="ngForm" (ngSubmit)="atualizaCadastro(form)" class="ion-padding" id="login-container-caixa">

            <div id="login-container-caixa-form">

              <ion-item class="login-container-caixa-form-item campoDesativado">
                <ion-label position="floating">ID do C.A.S.A</ion-label>
                <ion-input readonly type="text" [(ngModel)]="casaID" name="id_casa"></ion-input>
              </ion-item>

              <ion-item class="login-container-caixa-form-item">
                <ion-label position="floating">Nome do Tutor</ion-label>
                <ion-input required type="text" [(ngModel)]="nomeTutor" name="nomeTutor"></ion-input>
              </ion-item>

              <ion-item class="login-container-caixa-form-item">
                <ion-label position="floating">Nome da Criança</ion-label>
                <ion-input required type="text" [(ngModel)]="nomeCrianca" name="nomeCrianca"></ion-input>
              </ion-item>

              <ion-item class="login-container-caixa-form-item">
                <ion-label position="floating">Email</ion-label>
                <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
              </ion-item>

              <ion-item class="login-container-caixa-form-item">
                <ion-label position="floating">Usuário</ion-label>
                <ion-input required type="text" [(ngModel)]="usuario" name="usuario"></ion-input>
              </ion-item>



              <ion-item class="login-container-caixa-form-item" [ngClass]="{'campoDesativado' : !alteracaoDeSenha}">
                <ion-label position="floating">Nova senha</ion-label>
                <ion-input type="password" [(ngModel)]="novaSenha" name="novaSenha" [readonly]="!alteracaoDeSenha">
                </ion-input>
                <ion-buttons slot="end" (click)="ativaEdicaoSenha()">
                  <ion-icon [name]="alteracaoDeSenha ? 'checkmark' : 'create-outline'" color="dark" size="large"
                    id="botaoEditarSenha"></ion-icon>
                </ion-buttons>
              </ion-item>

              <ion-item class="login-container-caixa-form-item campoDesativado"
                [ngClass]="{'campoDesativado' : !alteracaoDeSenha}">
                <ion-label position="floating">Confirmar senha</ion-label>
                <ion-input type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha"
                  [readonly]="!alteracaoDeSenha"></ion-input>
              </ion-item>
            </div>

            <div>
              <ion-button id="salvar" expand="full" type="submit">Salvar</ion-button>
              <ion-button id="deletarConta" expand="full" (click)="deletaConta()" color="dark">Excluir conta</ion-button>
            </div>
          </form>
        </ion-col>

      </ion-row>
    </form>
  </div>
</ion-content>