<ion-header [translucent]="true">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Fale conosco</h1>     
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1  class="ion-text-center contato">Envie-nos uma mensagem</h1>
  <form (ngSubmit)="enviaMensagem()" class="ion-padding">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input required type="text" [(ngModel)]="assunto" name="assunto" placeholder="Assunto"></ion-input>
    </ion-item>
    <ion-item id="mensagem">
      <ion-label position="floating"></ion-label>
      <ion-textarea required [(ngModel)]="mensagem" name="mensagem" placeholder="Digite..."></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
</ion-content>
