#contato-container{
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

.contato{
    font-family: var(--fonte-especial);
    font-size: 2rem;
    color: var(--cor-fonte);
    padding-top: 1rem;
}

form{
    border: 1px solid rgba(var(--cor-borda), 20%);
    border-radius: 12px;
}

form ion-item{
    color: var(--cor-fonte);
}

#mensagem{
    padding: 2rem 0;
}

form ion-button{
    --background: var(--cor-secundaria-forte);
}
