<ion-header [translucent]="true">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start" id="botao-header">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Fale conosco</h1>     
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contato-container">
    <h1  class="ion-text-center contato">Envie-nos uma mensagem</h1>

    <form #contato="ngForm" (ngSubmit)="enviaMensagem(contato)" class="ion-padding">

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input required type="text" [(ngModel)]="assunto" name="assunto" placeholder="Assunto"></ion-input>
      </ion-item>

      <ion-item id="mensagem">
        <ion-label position="floating"></ion-label>
        <ion-textarea required [(ngModel)]="mensagem" name="mensagem" placeholder="Digite..."></ion-textarea>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="contato.invalid">Enviar</ion-button>

      <ion-modal [isOpen]="modalSucesso" (didDismiss)="modalSucesso = false"   [breakpoints]="[0, 0.3]" 
      [initialBreakpoint]="0.3">
        <ng-template>
          <ion-header>
            <ion-toolbar id="modal-erro">
              <ion-title>{{respostaTitulo}}</ion-title>
              <ion-buttons slot="end">
                <ion-button id="modal-desc-botao" (click)="modalSucesso = false">X</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div id="modal-desc">
              <p id="modal-desc-mensagem">{{respostaDesc}}</p>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

    </form>
  </div>
</ion-content>
