<ion-header [translucent]="true">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Sobre nós</h1>     
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="sobre-nos-lista">
    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Projeto C.A.S.A</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Tecnologias</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Instituição</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Créditos de Autoria</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
