<ion-header [translucent]="true">
  <ion-toolbar id="barra-app">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo-app">
      <div id="titulo-app-logo">
        <h1>Sobre nós</h1>     
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="sobre-nos-lista">
    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Projeto C.A.S.A</h1>
        <p>
          O Projeto C.A.S.A (Comunicação Alternativa para Suporte Autista) visa proporcionar uma melhoria na     comunicação e na verbalização de crianças com TEA (Transtorno do Espectro Autista).
          <br><br>
          Na atualidade, estima-se que 25% a 30% das crianças com TEA possuem dificuldade ou não conseguem se comunicar através da fala (Revista Paulista de Pediatria, V. 40, 2022). Considerando que a comunicação é essencial para a manutenção do indivíduo na sociedade, essa característica de autistas não-verbais pode dificultar o cumprimento de necessidades que essas crianças carecem. Com o objetivo de facilitar a vida de crianças autistas não-verbais e a comunicação entre essas pessoas e seus responsáveis, o Projeto C.A.S.A surge propondo uma solução tecnológica para auxiliar no desenvolvimento da criança autista.
          <br><br>
          Utilizando conceitos de CAA (Comunicação Aumentativa e Alternativa), o projeto envolve o desenvolvimento de um aparelho arduíno integrado a um aplicativo. O objetivo é que as crianças possuam um ambiente virtual seguro, lúdico, prático e fácil de ser utilizado, onde poderão expressar suas necessidades através de botões semânticos e visualmente chamativos que exibem imagens de cada uma das ações e falas contidas nos botões. Ao clicar em um deles, o dispositivo emite uma vocalização da frase contida no botão, minando a necessidade da criança de forçar-se a falar e tornando menos dificultosa a interação entre ela e seu círculo social, sejam amigos ou familiares.
          <br><br>
          Esperamos que com esse projeto possamos oferecer um produto de qualidade para as crianças com TEA, tornando-o acessível para pessoas autistas e suas famílias de diversas classes sociais, buscando democratizar o acesso às tecnologias de CAA.
        </p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Tecnologias</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Instituição</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="ion-padding" id="sobre-nos">
        <h1 class="ion-text-center sobre-nos-titulo">Créditos de Autoria</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim beatae consequuntur quos tenetur odio quaerat, distinctio vero magni dolores similique autem consequatur? Ipsa maiores esse mollitia quam vero omnis.
        Repudiandae deserunt nihil reprehenderit eaque? Magnam explicabo aspernatur temporibus repudiandae iure suscipit ea tenetur excepturi aliquam officiis, velit facilis doloremque neque quas expedita? Quis totam consectetur, dolores non quae pariatur.
        Quam nam explicabo vitae accusamus eius facere! Id, cupiditate ex aperiam aliquam aliquid molestiae, iste voluptas magni at neque ratione odio? Ex, similique nihil natus ea libero necessitatibus aperiam labore!
        Totam, voluptatem dolorem, hic quos quae, veritatis veniam ex labore officia dignissimos soluta. Velit, eligendi eius. Facere suscipit incidunt ea, velit repellat, delectus distinctio cum a accusantium officiis hic impedit?</p>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
