<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header id="menu-header">
      <ion-toolbar>
        <div id="menu-lista-usuario">
          <div id="menu-lista-usuario-perfil">
            <ion-icon class="icone-botao" name="person-circle-sharp" size="large"></ion-icon>
            <p>Usuário</p>
          </div>
          <div id="menu-lista-usuario-botoes">
            <ion-button routerLink="/configuracoes" id="menu-lista-usuario-botoes-config">
              <ion-icon class="icone-botao" name="settings-outline"></ion-icon>
              Configurações
            </ion-button>
            <ion-button (click)="logout(false)"id="menu-lista-usuario-botoes-sair">
              <ion-icon class="icone-botao" name="log-out-outline"></ion-icon>
              Sair
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="menu-lista">
        <div id="menu-lista-nav">
          <ion-item routerLink="/home" routerDirection="root" class="menu-item-lista">
            <ion-icon name="home-outline"></ion-icon>
            Início
          </ion-item>
          <ion-item routerLink="/sobre" routerDirection="root" class="menu-item-lista">
            <ion-icon name="information-circle-outline"></ion-icon>
            Sobre nós
          </ion-item>
          <ion-item routerLink="/contato" routerDirection="root" class="menu-item-lista">
            <ion-icon name="at-outline"></ion-icon>
            Fale conosco
          </ion-item>
        </div>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>




