/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: "Kobajeon";
    src: url(assets/kobajeon.otf);
}

:root{
    --cor-primaria: #c1e0f1;
    --cor-primaria-forte: #5695FD;
    --cor-secundaria: #F28585;
    --cor-secundaria-forte:#ff3561 ;
    --cor-terciaria: #C1E18C;
    --cor-terciaria-forte: #6ABE9B;
    --cor-quaternaria: #FFE8A3;
    --cor-quaternaria-forte: #fdc05e ;
    --cor-fonte: black;
    --cor-bg-menu: white;
    --fonte-especial: "Kobajeon";
    --cor-link: #ff3561;
}

:root.dark{
    --cor-primaria: #2a556e;
    --cor-primaria-forte: #22385b;
    --cor-secundaria: #bb2727;
    --cor-secundaria-forte:#a71f3d ;
    --cor-terciaria: #759640;
    --cor-terciaria-forte: #2e7d5c;
    --cor-fonte: white;
    --cor-bg-menu: #2a556e;
    --cor-link: #fd5277;
}

ion-toolbar{
    display: flex;
    justify-content: center;
    position: relative;
}

ion-buttons{
    flex: 0 1 auto;
    position: absolute;
    left: 0.1rem;
}

ion-content{
    --ion-background-color: var(--cor-primaria);
    color: var(--cor-fonte);
}

#barra-app{
    --ion-background-color: var(--cor-secundaria-forte);
}

#titulo-app{
    color: white;
    font-family: monospace;
}

#titulo-app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-app-logo-casa{
    padding: 0.5rem 0 0 0.8rem;
}

ion-buttons{
    color: white;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(var(--cor-primaria), var(--cor-primaria-forte));
}

#login-container-caixa-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-container-caixa-form-item{
    --ion-background-color: white;
    border-radius: 24px;
}

#login{
    color: white;
}

#botao-de-login{
    display: flex;
    justify-content: center;
}

#entrar{
    --background: var(--cor-secundaria-forte);
    color: var(--cor-quaternaria-forte);
    margin-top: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  



